*.pro.user
*.o
*.so
*.a
bin/*
*.user
*.lib
*.exe
*.dll
*.filters
*.ilk
moc_*.*
ui_*.h
qrc_*.cpp
Debug/*
Release/*
*.vspscc
ipch/*
DarkKnight.opensdf

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.sdf
*.sdf
