[submodule "3rdparty/libchessengine"]
	path = 3rdparty/libchessengine
	url = git@github.com:edwardoid/libchessengine.git
[submodule "3rdparty/cgsql"]
	path = 3rdparty/cgsql
	url = git@github.com:edwardoid/cgsql.git
